{% extends "base.html.twig" %}
{% block body %}
    <article>
        <p> Rounds: </p>
        {% for round in game.rounds %}
            <p>{{round.panoId}}</p>
        {% endfor %}
        <p> Guesses: </p>
        {% for guess in game.guesses %}
            <p>{{guess.distanceInMeters}}m</p>
        {% endfor %}

        <div id="mapid" style="height: 400px"></div>
        <script>
            var mymap = L.map('mapid').setView([0, 0], 2);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: '{{ mapbox_token }}'
            }).addTo(mymap);
            {% for key, round in game.rounds %}
                var marker = L.marker([{{round.lat}}, {{round.lng}}]).addTo(mymap);
                var marker = L.marker([{{game.guesses[key].lat}}, {{game.guesses[key].lng}}]).addTo(mymap);
                var spiralLine = L.polyline(
                    [
                        [{{round.lat }}, {{ round.lng }}],
                        [{{ game.guesses[key].lat }}, {{ game.guesses[key].lng }}]
                    ]).addTo(mymap)
            {% endfor %}
        </script>
    </article>
{% endblock %}